@model UserDetailsViewModel
<p><strong>Username:</strong> @Model.Username</p>
<p><strong>Email:</strong> <a href="mailto://@Model.Email">@Model.Email</a></p>
<p><strong>Full name:</strong> @Model.FullName</p>