@{
    ViewData["Title"] = "Contact us!";
}
<h2>@ViewData["Title"]</h2>

<address>
    Adress: 990  Virginia Street,Chicago,IL<br />
    Contacts:<br />
    773-541-3940<br />
    773-969-5277<br />
    0448564<br />

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">PCinema@cin.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">PCMarketing@cin.com</a>

    <br />

    <h2><strong>TICKETS AND ITEMS SOLD ON THE SPOT!</strong></h2>
</address>
